@use "../../styles/variables.scss" as vars;
.homeview{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #0c0c0c;

    .container{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      color: white;
      gap: 3em;

        > p {
          position: relative;
          color: #f5f3f0;
          font-size: 1.3em;
          padding: 0em 2em;
          text-align: center;
          text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);

          @media (min-width: vars.screemSize(desktop)) {
            font-size: 1.5em;
          }
        }
      
        @media (min-width: vars.screemSize(tablet)) {
          margin: 5%;
          gap: 0em
        }

    }

    .logo {
      width: 80%;
      height: auto;
      margin-bottom: 5%;
      position: relative;

      @media (min-width: vars.screemSize(tablet)) {
        width: 70%;
      }

      @media (min-width: vars.screemSize(desktop)) {
        width: 40%;
      }

      @media (orientation: landscape) and (max-width: vars.screemSize(desktop)) {
        width: 45%;
      }
  }
}