@use "../../styles/variables.scss" as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: rgba(20, 20, 20, 0.9);
  color: #fff;

  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;

    @media (min-width: vars.screemSize(tablet)) {
        gap: 3em;
    }
  
    @media (min-width: vars.screemSize(desktop)) {
        gap: 5em;
    }
  }

  .scrollToTop{
    position: fixed;
    right: 20;
    bottom: 30;
    cursor: pointer;
  }

}