@use "../../styles/variables.scss" as vars;

.houseview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 0.5em; 
    background: #0c0c0c;
    color: white;

    @media (orientation: landscape) and (max-width: vars.screemSize(desktop)) {
      height: 100vh;
    }
}

.section {
  display: flex;
  width: 100%;
  padding: 2em 0em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0em;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (min-width: vars.screemSize(tablet)) {
    flex-direction: row;
  }

  @media (min-width: vars.screemSize(desktop)) {
    gap: 5em;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.house{
  width: 15em;
  border-radius: 10px;

  @media (min-width: vars.screemSize(tablet)) {
    width: 40%;
  }

  @media (min-width: vars.screemSize(large)) {
    width: 90%;
  }

  @media (orientation: landscape) and (max-width: vars.screemSize(desktop)) {
    width: 14em;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;

  @media (min-width: vars.screemSize(tablet)) {
    height: 100%;
    text-align: start;
    font-size: 1.2em;
    > * {
      padding: 0 !important;
    }
  }

  @media (min-width: vars.screemSize(desktop)) {
    height: 100%;
    text-align: start;
    font-size: 1.4em;
  }

  @media (orientation: landscape) and (max-width: vars.screemSize(desktop)) {
    font-size: 1em;
  }

  > h2 {
    text-transform: uppercase;
    font-size: 2em;

    @media (min-width: vars.screemSize(desktop)) {
      font-size: 3em;
    }
  }
  > p {
    text-align: justify;
    font-size: 1em;
    margin-top: 1em;
    padding: 0em 0.5em;
  }
}
.indicators {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 2rem;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #dbdbdb;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.active {
  background: #f5d418; 
  transform: scale(1.3);
}