@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-oswald: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--font-montserrat);
  line-height: 1.5;
}

body.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
}

a, h2, figcaption, h1 {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  font-family: var(--font-oswald);
  font-size: 1.2em;
}

h2 {
  font-size: 1.7em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}